<div class="wrapper">

<div class="scoreboard-content">
    <div class="scores-carousel">
        
    </div>
<div class="events-dropdown">
    <button class="button">TOP EVENTS</button>
    <div class="dropdown-content">
        <a href="#">Top Events</a>
        <a href="#">NFL</a>
        <a href="#">NCAAM</a>
        <a href="#">UCL</a>
        <a href="#">NCAAW</a>
        <a href="#">NBA</a>
        <a href="#">MLS</a>
    </div>
    <div class="scoreLabel-content">
        <h2 class="scoreLabel-title">NCAAM</h2>
   
</div>  
</div>
</div>




</div>