<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#">ESPN</a>
    
    <div class="btn-group">
       <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            NFL
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Home</a></li>
        <li><a class="dropdown-item" href="#">Scores</a></li>
        <li><a class="dropdown-item" href="#">Schedule</a></li>
        <li><a class="dropdown-item" href="#">Standings</a></li>
        <li><a class="dropdown-item" href="#">Stats</a></li>
        <li><a class="dropdown-item" href="#">Teams</a></li>
        <li><a class="dropdown-item" href="#">NFL Daily Lines</a></li>
        <li><a class="dropdown-item" href="#">Draft</a></li>
        <li><a class="dropdown-item" href="#">Depth Charts</a></li>
    </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            NBA
            </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Home</a></li>
        <li><a class="dropdown-item" href="#">Scores</a></li>
        <li><a class="dropdown-item" href="#">Schedule</a></li>
        <li><a class="dropdown-item" href="#">Standings</a></li>
        <li><a class="dropdown-item" href="#">Stats</a></li>
        <li><a class="dropdown-item" href="#">Teams</a></li>
        <li><a class="dropdown-item" href="#">Trade Deadline Buzz</a></li>
        <li><a class="dropdown-item" href="#">Players</a></li>
        <li><a class="dropdown-item" href="#">Daily Lines</a></li>
    </ul>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
        NHL
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Home</a></li>
        <li><a class="dropdown-item" href="#">Scores</a></li>
        <li><a class="dropdown-item" href="#">Schedule</a></li>
        <li><a class="dropdown-item" href="#">Standings</a></li>
        <li><a class="dropdown-item" href="#">Stats</a></li>
        <li><a class="dropdown-item" href="#">Teams</a></li>
        <li><a class="dropdown-item" href="#">Daily Lines</a></li>
        <li><a class="dropdown-item" href="#">2022 NHL All-Star Game</a></li>
        <li><a class="dropdown-item" href="#">Subscribe to ESPN+</a></li>
    </ul>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
        Soccer
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Home</a></li>
        <li><a class="dropdown-item" href="#">Scores</a></li>
        <li><a class="dropdown-item" href="#">Schedule</a></li>
        <li><a class="dropdown-item" href="#">Transfers</a></li>
        <li><a class="dropdown-item" href="#">USMNT</a></li>
        <li><a class="dropdown-item" href="#">USWNT</a></li>
        <li><a class="dropdown-item" href="#">Teams</a></li>
        <li><a class="dropdown-item" href="#">Leagues & Cups</a></li>
        <li><a class="dropdown-item" href="#">Tables</a></li>
    </ul>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
        Golf
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Home</a></li>
        <li><a class="dropdown-item" href="#">Scores</a></li>
        <li><a class="dropdown-item" href="#">Schedule</a></li>
        <li><a class="dropdown-item" href="#">Rankings</a></li>
        <li><a class="dropdown-item" href="#">Standings</a></li>
        <li><a class="dropdown-item" href="#">Stats</a></li>
        <li><a class="dropdown-item" href="#">Players</a></li>
        <li><a class="dropdown-item" href="#">FedEx Cup</a></li>
        <li><a class="dropdown-item" href="#">How To Watch PGA TOUR</a></li>
    </ul>
</div>
    <div class="btn-group">
        <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">   
        NCAAF
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Home</a></li>
        <li><a class="dropdown-item" href="#">Recruiting</a></li>
        <li><a class="dropdown-item" href="#">Bowl Results</a></li>
        <li><a class="dropdown-item" href="#">Scores</a></li>
        <li><a class="dropdown-item" href="#">Schedule</a></li>
        <li><a class="dropdown-item" href="#">Standings</a></li>
        <li><a class="dropdown-item" href="#">Stats</a></li>
        <li><a class="dropdown-item" href="#">Teams</a></li>
        <li><a class="dropdown-item" href="#">Rankings</a></li>
    </ul>
</div>
    <div class="dots-dropdown">
        <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
        ...
    </button>
</div>
</div>




</nav>
         
            




            
       
          
    
   
   