.navbar {
    background-color: #48494a;
}

.main-logo {
    margin-left:50px;
}


.nav-link {
    color: white;
    padding-top:5px;
    font-size:15px;
}

.main-logo:before {
    background:red;
    transform:skew(-25deg,0);
    content:'';
    display:block;
    height:44px;
    position:absolute;
    top:0;

}

.dots {
    padding-left:12px;
}

.collapse {
    text-align:center;
}
.dropdown-menu a:hover {
    background-color: red;
}
.dropdown-item {
    color: #48494a;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    
}

.nav-link-2 {
    text-decoration: none;
    color:white;
    padding-right:20px;
    padding-top:5px;
    font-size:15px;

}

.grid {
    margin-right:15px;
    padding-top:5px;
}

.navbar-nav {
    color:white;
 
}

.search-bar {
    margin-right:12px;
    padding-top:5px;
}

.person-circle {
    padding-top:5px;
    margin-right:30px;
}

.espn-plus-logo {
    padding-right:20px;
    padding-top:5px;
}
