
<div class = "footer">


<footer class="row row-cols-5">
  <div class="col">
    <h5>ESPN+</h5>
    <ul class="nav flex-column">
      <li class="nav-item"><a href="#" class="col-1-link">Watch Now</a></li>
      <li class="nav-item"><a href="#" class="col-1-link">UFC 271: Adesanya vs. Whittaker 2 (Feb 12, PPV)</a></li>
      <li class="nav-item"><a href="#" class="col-1-link">UFC Fight Night Hermansson vs. Strickland</a></li>
      <li class="nav-item"><a href="#" class="col-1-link">NHL: Select Games</a></li>
      <li class="nav-item"><a href="#" class="col-1-link">Men's College Hoops</a></li>
      <li class="nav-item"><a href="#" class="col-1-link">Women's College Hoops</a></li>
      <li class="nav-item"><a href="#" class="col-1-link">Man In The Arena: Tom Brady</a></li>
      <li class="nav-item"><a href="#" class="col-1-link">PGA TOUR LIVE</a></li>
      <li class="nav-item"><a href="#" class="col-1-link">Ranking All 32 NFL Teams' Offseason Capital</a></li>
    </ul>
  </div>

  <div class="col">
    <h5>Quick Links</h5>
    <ul class="nav flex-column">
      <li class="nav-item"><a href="#" class="col-2-link">Super Bowl LVI</a></li>
      <li class="nav-item"><a href="#" class="col-2-link">Super Bowl Betting Guide</a></li>
      <li class="nav-item"><a href="#" class="col-2-link">2022 NFL Draft Order</a></li>
      <li class="nav-item"><a href="#" class="col-2-link">NBA Trade Machine</a></li>
      <li class="nav-item"><a href="#" class="col-2-link">NBA Trade Deadline Buzz</a></li>
      <li class="nav-item"><a href="#" class="col-2-link">How To Watch PGA TOUR</a></li>
      <li class="nav-item"><a href="#" class="col-2-link">Men's Hoops Rankings</a></li>
      <li class="nav-item"><a href="#" class="col-2-link">Carribean Series</a></li>
      <li class="nav-item"><a href="#" class="col-2-link">Games For Me</a></li>
    </ul>
  </div>

  <div class="col">
    <h5>ESPN Sites</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="col-3-link">ESPN Deportes</a></li>
      <li class="nav-item mb-2"><a href="#" class="col-3-link">The Undefeated</a></li>
      <li class="nav-item mb-2"><a href="#" class="col-3-link">espnW</a></li>
      <li class="nav-item mb-2"><a href="#" class="col-3-link">ESPNFC</a></li>
      <li class="nav-item mb-2"><a href="#" class="col-3-link">X Games</a></li>
      <li class="nav-item mb-2"><a href="#" class="col-3-link">SEC Network</a></li>
    </ul>
  </div>


  <div class="col">
    <h5>ESPN Apps</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="http://www.espn.com/espn/apps/espn" class="col-4-link">ESPN</a>
      </li>
      <li class="nav-item mb-2"><a href="http://www.espn.com/espn/apps/fantasy" class="col-4-link">ESPN
          Fantasy</a></li>
    </ul>
  </div>

  <div class="col">
    <h5>Follow ESPN</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="col-5-link">Facebook</a></li>
      <li class="nav-item mb-2"><a href="#" class="col-5-link">Twitter</a></li>
      <li class="nav-item mb-2"><a href="#" class="col-5-link">Instagram</a></li>
      <li class="nav-item mb-2"><a href="#" class="col-5-link">Snapchat</a></li>
      <li class="nav-item mb-2"><a href="#" class="col-5-link">YouTube</a></li>
      <li class="nav-item mb-2"><a href="#" class="col-5-link">The ESPN Daily Podcast</a></li>
    </ul>
  </div>

  
  <div class="first-row">
    <li class="nav-link"><a href="https://disneytermsofuse.com/english/" class="footer-link">Terms
        of Use</a></li>
  </div>
  <div class="first-row">
    <li class="nav-link"><a href="https://privacy.thewaltdisneycompany.com/en/current-privacy-policy/"
        class="footer-link">Privacy Policy</a></li>
  </div>
  <div class="first-row">
    <li class="nav-link"><a
        href="https://privacy.thewaltdisneycompany.com/en/current-privacy-policy/your-california-privacy-rights/"
        class="footer-link">Your California Privacy Rights</a></li>
  </div>
  <div class="first-row">
    <li class="nav-link">
      <a href="https://privacy.thewaltdisneycompany.com/en/for-parents/childrens-online-privacy-policy/"
        class="footer-link">Children's Online Privacy Policy </a></li>
  </div>
  <div class="first-row">
    <li class="nav-link"><a href="https://preferences-mgr.truste.com/?type=espn&affiliateId=148"
        class="footer-link">Internet-Based Ads</a></li>
  </div>
  <div class="first-row">
    <li class="nav-link"><a href="https://www.nielsen.com/us/en/legal/privacy-statement/digital-measurement/"
        class="footer-link">About Nielsen Measurement</a></li>
  </div>

  <div class="second-row">
    <li class="nav-link"><a href="https://privacy.thewaltdisneycompany.com/en/dnsmi/"
        class="footer-link">Do Not Sell My Personal Information</a></li>
  </div>
  <div class="second-row">

    <li class="nav-link"><a href="https://www.espn.com/espn/news/story?page=contact-index"
        class="footer-link">Contact Us</a></li>
  </div>
  <div class="second-row">
    <li class="nav-link"><a href="https://www.disneyadsales.com/"
        class="footer-link">Disney Ad Sales Site</a></li>
  </div>
  <div class="second-row">
    <li class="nav-link"><a href="https://jobs.disneycareers.com/espn"
        class="footer-link">Work for ESPN</a></li>


  </div>

</footer>
</div>