<footer class="row row-cols-5 py-4 my-5 mx-5 px-5 border-top border-bottom">
  <div class="col">
    <h5>ESPN+</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Watch Now</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">UFC 271: Adesanya vs. Whittaker 2 (Feb 12, PPV)</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">UFC Fight Night Hermansson vs. Strickland</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">NHL: Select Games</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Men's College Hoops</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Women's College Hoops</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Man In The Arena: Tom Brady</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">PGA TOUR LIVE</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Ranking All 32 NFL Teams' Offseason Capital</a></li>
    </ul>
  </div>

  <div class="col">
    <h5>Quick Links</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Super Bowl LVI</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Super Bowl Betting Guide</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">2022 NFL Draft Order</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">NBA Trade Machine</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">NBA Trade Deadline Buzz</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">How To Watch PGA TOUR</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Men's Hoops Rankings</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Carribean Series</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Games For Me</a></li>
    </ul>
  </div>

  <div class="col">
    <h5>ESPN Sites</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">ESPN Deportes</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">The Undefeated</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">espnW</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">ESPNFC</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">X Games</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">SEC Network</a></li>
    </ul>
  </div>


  <div class="col">
    <h5>ESPN Apps</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="http://www.espn.com/espn/apps/espn" class="nav-link p-0 text-muted">ESPN</a>
      </li>
      <li class="nav-item mb-2"><a href="http://www.espn.com/espn/apps/fantasy" class="nav-link p-0 text-muted">ESPN
          Fantasy</a></li>
    </ul>
  </div>

  <div class="col">
    <h5>Follow ESPN</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Facebook</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Twitter</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Instagram</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Snapchat</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">YouTube</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">The ESPN Daily Podcast</a></li>
    </ul>
  </div>

  <div class="first-row">
    <li class="nav-link mb-2"><a href="https://disneytermsofuse.com/english/" class="nav-link px-5 py-5 mx-4 my-5">Terms
        of Use</a></li>
  </div>
  <div class="first-row">
    <li class="nav-link mb-2"><a href="https://privacy.thewaltdisneycompany.com/en/current-privacy-policy/"
        class="nav-link px-5 py-5 mx-4 my-5">Privacy Policy</a></li>
  </div>
  <div class="first-row">
    <li class="nav-link"><a
        href="https://privacy.thewaltdisneycompany.com/en/current-privacy-policy/your-california-privacy-rights/"
        class="nav-link px-5 py-5 mx-4 my-5">Your California Privacy Rights</a></li>
  </div>
  <div class="first-row">
    <li class="nav-link">
      <a href="https://privacy.thewaltdisneycompany.com/en/for-parents/childrens-online-privacy-policy/"
        class="nav-link px-5 py-5 mx-4 my-5">Children's Online Privacy Policy </a></li>
  </div>
  <div class="first-row">
    <li class="nav-link"><a href="https://preferences-mgr.truste.com/?type=espn&affiliateId=148"
        class="nav-link px-5 py-5 mx-3 my-5">Internet-Based Ads</a></li>
  </div>
  <div class="first-row">
    <li class="nav-link"><a href="https://www.nielsen.com/us/en/legal/privacy-statement/digital-measurement/"
        class="nav-link px-5 py-5 mx-4 my-1">About Nielsen Measurement</a></li>
  </div>

  <div class="second-row">
    <li class="nav-link"><a href="https://privacy.thewaltdisneycompany.com/en/dnsmi/"
        class="nav-link px-5 py-5 mx-4 my-1">Do Not Sell My Personal Information</a></li>
  </div>
  <div class="second-row">

    <li class="nav-link"><a href="https://www.espn.com/espn/news/story?page=contact-index"
        class="nav-link px-5 py-5 mx-4 my-1">Contact Us</a></li>
  </div>
  <div class="second-row">
    <li class="nav-link"><a href="https://www.disneyadsales.com/"
        class="nav-link px-5 py-5 mx-4 my-1">Disney Ad Sales Site</a></li>
  </div>
  <div class="second-row">
    <li class="nav-link"><a href="https://jobs.disneycareers.com/espn"
        class="nav-link px-5 py-5 mx-4 my-1">Work for ESPN</a></li>


  </div>

</footer>