<div class="wrapper">
    <div class="card">
        <div class = "event-title">
            <a class = "title">
                2021-22 UEFA Champions League
            </a>
        </div>
        <a class = "competitors">
            <div class = "team-left">

                <a class = "team-name left">
                    Chelsea 
                </a>
            </div>

            <div class = "team-right">
                <a class = "team-name right">
                    Dortmund
                </a>
            </div>
        </a>
        <div class="team-info-wrapper">
            
             
            
        </div>



    </div>






</div>



