<div class="wrapper">


<div class="card">

    <div class="card-title">
        <h5>
         <a class="black-espn-plus" href="#">
            <img src="/assets/black-espn-plus.svg.png" alt="" height="15">
        </a>
        </h5>
      
       
    </div>

    <div class="card-body">
        <ul class="card-body-text">
          
            <button class="subscribe-button">
                <a class="subscribe">SUBSCRIBE NOW</a>
            </button>
      
            <li class="card-content-1"><a>UFC:271 Adesanya vs. Whittaker2 (PPV)</a></li>
            <li class="card-content-2"><a>Men's College Hoops</a>
            </li>
            <li class="card-content-3"><a>Women's College Hoops</a>
            </li>
            <li class="card-content-4"><a>PGA TOUR LIVE</a>
            </li>
            <li class="card-content-last"><a>Re-Drafting The 2021 NFL Draft</a></li>

        </ul>

    </div>
</div>
</div>