<div class="card" style="width: 28rem; height: auto;">
    
    
        
        <h5 class="card-title border-bottom">
            Top Headlines
        </h5>
        <ul class="card-body-text">
            <li class="card-content"><a href="#">Brady announces retirement, ends 'thrilling ride'</a>
            </li>
            <li class="card-content"><a href="#">Sources: Spring training delay likely as talk stall</a>
            </li>
            <li class="card-content"><a href="#">Broncos up for sale; likely to fetch record price</a>
            </li>
            <li class="card-content"><a href="#">Source: Pack ST coach out after playoff blunders</a>

            </li>
            <li class="card-content"><a href="#">Mayweather's NASCAR team revved up for debut</a>

            </li>
            <li class="card-content"><a href="#">Former Oklahoma QB Williams transfers to USC</a>

            </li>
            <li class="card-content"><a href="#">Bills replace Dabol by promoting Dorsey to OC</a>

            </li>
            <li class="card-content"><a href="#">Penn swim team shows 'full support' for Thomas</a>

            </li>
            <li class="card-content"><a href="#">20 potential offseason NFL trade</a>

            </li>
        </ul>

    
</div>