
<app-eventsnavbar>Loading ...</app-eventsnavbar>

<div class ="nav-bar">

  <app-mainnavbar class="navigation" img="/assets/espn-logo.png"></app-mainnavbar>

</div>


<app-centercard></app-centercard>
<espn-sidecard>LOADING...</espn-sidecard>

<div class="hoops-images">
  <app-footer class="mens-college-hoops" img="./assets/mens-hoops.png"></app-footer>
  <app-footer class="womens-college-hoops" img="./assets/mens-hoops.png"></app-footer>
  
</div>


  <app-leftcard></app-leftcard>

  <router-outlet></router-outlet>